@model ProjectSSA.ViewModels.ReserveerTicketsVM

@{
    ViewBag.Title = "ConfirmReservationOK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmReservationOK</h2>

<h2>De Reservering is gelukt.</h2>