@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Algemeen:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">Tickets:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Algemeen:</span>
        <span><a href="mailto:Viktor.De.Bock@student.howest.be">Viktor.De.Bock@student.howest.be</a></span>
    </p>
    <p>
        <span class="label">Tickets:</span>
        <span><a href="mailto:Viktor.De.Bock@student.howest.be">Viktor.De.Bock@student.howest.be</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Tempelstraat 21<br />
        9890 Gavere
    </p>
</section>